body {
    background-color: #091057;
    font-family: 'Times New Roman', Times, serif; 
    margin: 0;
    background-color: #024CAA;
    text-align: center;
}
body {
    background-color: #091057;
    font-family: 'Times New Roman', Times, serif; 
    margin: 0;
    color: #ffffff;
    text-align: center;
}
